@charset "UTF-8";

.cartTable {
  width: 898px;
  border-top: 0;
}

body, div, dl, dt, dd, ul, ol, menu, li, h1, h2, h3, h4, h5, h6, pre,
  form, fieldset, input, textarea, blockquote, th, td, p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, input, textarea, select, button, table {
  font-family: 돋움, Dotum, sans-serif;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.cartTable .head {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.cartTable .head th {
    background: #fafafa;
    text-align: center;
}

.cartTable th {
  height: 40px;
  font-size: 13px;
}



.all-select-event span {
  position: absolute;
}

a, blockquote, body, button, dd, div, dl, dt, fieldset, form, h1, h2, h3,
  h4, h5, h6, input, li, ol, p, pre, select, span, td, textarea, th, ul
  {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: Dotum, \\B3CB\C6C0, sans-serif;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.cartTable .cart-bundle-title {
    text-align: left;
    line-height: 16px;
}

.cartTable td {
    border-bottom: 1px solid #ddd;
    line-height: 35px;
    text-align: center;
}

.cartTable input {
    font-size: 12px;
}

.cart-deal-item td:nth-child(2) {
    width: 80px;
    overflow: hidden;
}

.cart-bundle-title {
  padding: 26px 22px 24px;
  text-align: left;
}

.cart-bundle-title .bundle, .cart-bundle-title .global, .cart-bundle-title .rocket, .cart-bundle-title .rocket-install {
    float: left;
    line-height: 16px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.5px;
}

.cart-deal-item {
  position: relative;
}

.last-cart-sc-items {
  border-bottom: 1px solid #eee !important;
}

.cart-deal-item td:first-child {
    width: 50px;
    overflow: hidden;
}

element.style {
  visibility: visible;
}

.cartTable .cart-bundle-title {
    text-align: left;
    line-height: 16px;
}

a {
  text-decoration: none;
}

.cart-deal-item td.product-box {
    padding: 10px 5px 10px 15px;
    text-align: left;
    vertical-align: top;
    z-index: 100;
}

.cartTable input {
    font-size: 12px;
}

label {
    cursor: default;
}

.cart-deal-item td:nth-child(3) {
  width: 568px;
  overflow: hidden;
}

.product-name-part {
  border-bottom: 1px solid #e2e5e7;
  padding-bottom: 5px;
  letter-spacing: -1px;
}

.product-box .option-item.modify-float {
    float: none;
}

.product-name-part+.option-item {
    border-top: 0;
}

.product-box .option-item {
    float: left;
    width: 100%;
    border-top: 1px dashed #dde0e3;
    padding: 4px 0;
}

.product-item-name.modify-color, .product-name.modify-color {
  color: #555;
}

.product-item-name, .product-name {
  margin-right: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #55575f;
}

.delivery-date, .delivery-date.modify-padding {
  padding-top: 6px;
}

.delivery-date {
  visibility: hidden;
  font-size: 13px;
  color: #111;
  line-height: 15px;
  letter-spacing: -.5px;
  clear: both;
}

element.style {
  display: inline-block;
}

.async-content .arrive-date {
  display: none;
}

.delivery-date .arrive-date {
  height: 15px;
}

.delivery-fee {
  border-left: 1px solid #ddd;
  font-size: 12px;
  color: #888;
}

a, blockquote, body, button, dd, div, dl, dt, fieldset, form, h1, h2, h3,
  h4, h5, h6, input, li, ol, p, pre, select, span, td, textarea, th, ul
  {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: Dotum, \\B3CB\C6C0, sans-serif;
}

.delivery-date .delivery-message {
  font-size: 11px;
  color: #00891a;
}

.delivery-enterprise {
  padding: 4px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: #e52528;
}

.delivery-enterprise>img {
  width: 14px;
  line-height: 14px;
  margin-right: 2px;
  position: relative;
  top: -1px;
}

img {
  vertical-align: top;
}

button, fieldset, img {
    border: 0;
}

.option-item-info {
    float: left;
    max-width: 330px;
    position: relative;
}

.option-price-part {
  float: right;
  font-size: 12px;
  line-height: 24px;
}

.badge-list {
  float: right;
  clear: both;
  overflow: hidden;
}

.unit-cost {
  color: #888;
  letter-spacing: 0;
  vertical-align: top;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.select-select {
  display: inline-block;
}

.quantity-select {
  width: 52px;
}

.select-text {
  display: none;
}

.unit-price-area {
  display: inline-block;
  width: 70px;
  margin-left: 4px;
  padding-top: 3px;
  vertical-align: top;
  line-height: 18px;
  text-align: right;
}

.delete-option {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 3px;
  background:
    url(//img1a.coupangcdn.com/image/cart/generalCart/cart_sprite_170201.png)
    -114px 0 no-repeat;
  vertical-align: top;
  z-index: 120;
}

user agent stylesheet
option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.cart-deal-item td:nth-child(4) {
  width: 88px;
}

.cart-deal-item .unit-total-price {
  position: relative;
  line-height: normal;
  border-left: 1px solid #ddd;
  font-size: 12px;
  color: #888;
}

.cart-deal-item td {
    padding: 10px 0;
    z-index: 1;
}

.cartTable td {
    border-bottom: 1px solid #ddd;
    line-height: 35px;
    text-align: center;
}

.cart-deal-item td {
    padding: 10px 0;
    z-index: 1;
}

.bundle-price-total td {
    position: relative;
    padding: 20px 35px 16px 0;
    background: #f7f7f7;
    font-size: 12px;
    line-height: 29px;
    text-align: right;
}
.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}
.bundle-price-total .number {
    display: inline-block;
    font: normal 15px/15px tahoma;
    color: #111;
    vertical-align: 0;
}
.symbol-minus, .symbol-plus {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 8px;
    vertical-align: -5px;
}
.symbol-plus {
    background: url(//img1a.coupangcdn.com/image/order/mathematics-symbol.png) no-repeat;
    background-position: 0 0;
}

.symbol-equal, .symbol-plus1 {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.symbol-equal {
    margin: 0 8px;
    background: url(//img1a.coupangcdn.com/image/order/mathematics-symbol.png) no-repeat;
    vertical-align: -5px;
    background-position: -36px 0;
}

.bundle-price-total .total-order-price.number {
    font-weight: 700;
}

.order-table-foot {
    clear: both;
    position: relative;
    padding: 20px 0 35px;
}

.selected-delete {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    color: #111;
}

.cart-no-item {
    width: 896px;
    border-left: 0;
    border-right: 0;
    padding: 60px 0;
    color: #898989;
    text-align: center;
}

.cart-no-item .txt {
    font-weight: 700;
    font-size: 14px;
    color: #55575f;
}

.cart-no-item .login-area {
    margin-top: 13px;
    font-size: 12px;
    line-height: 23px;
    color: #777881;
}

.cart-no-item .login {
    display: inline-block;
    width: 80px;
    height: 23px;
    margin-left: 5px;
    background: url(//img1a.coupangcdn.com/image/static/product/cart/btn_cart_login.gif) no-repeat;
    vertical-align: -7px;
}
.order-buttons, .summary-area {
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.goPayment, .goShopping {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    width: 216px;
    line-height: 18px;
    border: 2px solid #0073e9;
    border-radius: 4px;
    padding: 22px 0 19px;
    text-align: center;
}
.goShopping {
    background: #fff;
    color: #0073e9;
    margin-right: 5px;
}
.goPayment {
    background: #0073e9;
    color: #fff;
}
.order-buttons .item-disabled, .summary-area .item-disabled {
    position: absolute;
    display: none;
    height: 100%;
    width: 220px;
    top: 0;
    left: 50%;
    opacity: .3;
    background: #fff;
    margin-left: 5px;
}
.center{
    width: 1020px;
    margin: 0 auto 20px;
}